.no-deco {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8) !important;
}

.theme--dark.v-application pre code {
  background-color: unset;
  padding-left: unset;
}

// remove gotcha/search-field border-color
.v-text-field--outlined fieldset {
  border-color: unset !important;
}