.no-deco {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8) !important;
}

.theme--dark.v-application pre code {
  background-color: unset;
  padding-left: unset;
}

// remove gotcha/search-field border-color
.v-text-field--outlined fieldset {
  border-color: unset !important;
}

// disable Chrome two fingers back/forward swipe
html,
body {
  overscroll-behavior-x: none;
}

// gotcha/chip-search-filter multiple lines
.chip-group {
  .v-slide-group__content {
    flex: unset;
    flex-flow: wrap;
  }
}
